---
listing:
  folders:
    - bar
    - baz
  sort: published
  reverse: true
---
{% extends 'layout.html' %}

{% block content %}
<h1>All of my awesome posts!!</h1>

<ul>
  {% for key, value in listing %}
  <p>{{key}}</p>
  <ul>
    {% for file in value %}
    {% set path = file.path|replace('/index.html', '') %}
    <li><a href="{{path}}">{{file.meta.title}}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}

  {{ 'pages/hello.md'|render|safe }}
  {{ 'pages/quz.html'|render|safe }}
</ul>
{% endblock %}